In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
df = pd.read_csv("cleaned_videogames_sales.csv")

# print(df.head())
df.columns

Index(['name', 'platform', 'year', 'genre', 'publisher', 'rank', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [44]:
# Krijojm nje kopje per te mos ndryshuar asgje ne dataset e pastruar
df_analyze = df.copy()

#EDA (Exploratory Analysis)

In [45]:
# Totali i lojrave
df_analyze.shape[0]

16291

In [46]:
# Numri i Platformave
df_analyze['platform'].nunique()

31

In [47]:
# Numri i Zhanreve
df_analyze['genre'].nunique()

12

In [48]:
# Numri i publikueseve
df_analyze['publisher'].nunique()

576

In [49]:
# Top 10 lojrat sipas Shitjeve Globale
df_analyze.groupby(['name'])["global_sales"].sum().sort_values(ascending=False).head(10)

name
Wii Sports                        82.74
Grand Theft Auto V                55.92
Super Mario Bros.                 45.31
Tetris                            35.84
Mario Kart Wii                    35.83
Wii Sports Resort                 33.00
Pokemon Red/Pokemon Blue          31.38
Call of Duty: Modern Warfare 3    30.84
New Super Mario Bros.             30.01
Call of Duty: Black Ops II        29.73
Name: global_sales, dtype: float64

In [50]:
# Top 10 Publikuesit sipas Shitjeve Globale
df_analyze.groupby('publisher')["global_sales"].sum().sort_values(ascending=False).head(10)

publisher
Nintendo                        1784.23
Electronic Arts                 1093.21
Activision                       721.07
Sony Computer Entertainment      607.27
Ubisoft                          473.33
Take-Two Interactive             399.45
Thq                              340.32
Konami Digital Entertainment     278.37
Sega                             270.68
Namco Bandai Games               253.47
Name: global_sales, dtype: float64

In [51]:
# Top 10 Platformat sipas Shitjeve Globale
df_analyze.groupby('platform')["global_sales"].sum().sort_values(ascending=False).head(10)

platform
PS2     1233.57
X360     969.30
PS3      949.39
Wii      909.20
DS       817.89
PS       727.56
GBA      304.99
PSP      291.66
PS4      278.16
GB       254.43
Name: global_sales, dtype: float64

In [ ]:
yearly_stats = (
    df_analyze
    .groupby("year")
    .agg(
        Yearly_Total_Sales=("global_sales", "sum"),
        Yearly_Releases=("name", "count"),
        Average_Sales_Per_Game=("global_sales", "mean").round(2)
    )
    .reset_index()
)

yearly_stats_sorted = yearly_stats.sort_values(
    by="Yearly_Total_Sales",
    ascending=False
)

yearly_stats_sorted

    year  Yearly_Total_Sales  Yearly_Releases  Average_Sales_Per_Game
28  2008              678.50             1428                0.475140
29  2009              667.10             1431                0.466177
27  2007              609.23             1201                0.507269
30  2010              600.20             1257                0.477486
26  2006              520.52             1008                0.516389
31  2011              515.74             1136                0.453996
25  2005              457.97              936                0.489284
24  2004              413.61              744                0.555927
22  2002              394.97              829                0.476441
33  2013              367.98              546                0.673956
32  2012              363.25              655                0.554580
23  2003              357.61              775                0.461432
34  2014              337.08              580                0.581172
21  2001              331.49              482                0.687739
35  2015              264.26              614                0.430391
18  1998              256.33              379                0.676332
19  1999              251.12              338                0.742959
20  2000              201.63              349                0.577736
17  1997              201.07              289                0.695744
16  1996              199.15              263                0.757224
15  1995               88.11              219                0.402329
14  1994               79.22              121                0.654711
12  1992               76.14               43                1.770698
9   1989               73.45               17                4.320588
36  2016               70.84              342                0.207135
5   1985               53.95               14                3.853571
4   1984               50.35               14                3.596429
10  1990               49.37               16                3.085625
8   1988               47.21               15                3.147333
13  1993               45.99               60                0.766500
6   1986               37.08               21                1.765714
1   1981               35.68               46                0.775652
11  1991               32.23               41                0.786098
2   1982               28.88               36                0.802222
7   1987               21.70               16                1.356250
3   1983               16.80               17                0.988235
0   1980               11.38                9                1.264444
38  2020                0.29                1                0.290000
37  2017                0.05                3                0.016667